/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

$custom-typography: mat-typography-config(
  $font-family: 'Rubik'
);
@include mat-core($custom-typography);


html,
body {
  margin: 0;
  height: 100%;
}

body {
  color: rgba(0, 0, 0, 0.88);
  background-color: #f5f5f5;
  font-family: 'Rubik';
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    cursor: pointer;
    //text-decoration: underline;
  }
  &:active {
    color: white;
  }
  &:visited {
    color: white;
  }
}

a[mat-button] {
  &:hover {
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1.with-icon,
h2.with-icon,
h3.with-icon,
h4.with-icon,
h5.with-icon,
h6.with-icon {
  display: flex;
  align-items: center;
  .mat-icon-button {
    margin-left: 10px;
  }
}
.small {
  color: rgba(0, 0, 0, 0.6);
  font-size: 80%;
}

button[mat-button],
a[mat-button] {
  text-transform: uppercase;
}

button[mat-button] .mat-icon {
  width: 18px;
  height: 20px;
  font-size: 18px;
}

.mat-tab-body .mat-tab-body-content {
  height: unset;
}

.mat-icon svg {
  display: block;
}

/* mat-form-field.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0;
  .mat-select-arrow {
    margin-top: 13px;
  }
} */

.search {
  width: 100%;
}



/*   mat-option.mat-selection.mat-option.mat-selected:not(.mat-option-disabled) {
    color: #3372AD!important;
  }
 */
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #f74e29 !important; /* Red background for example */
}


.mat-progress-spinner.spinner circle, .mat-spinner.spinner circle {
  stroke: #3372AD;
  }


.mat-progress-spinner circle, .mat-spinner circle {
  color: #3372AD!important;
}




[mat-icon-button] {
  transition: background-color 0.1s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.no-padding .mat-dialog-container {
  padding: 0 0 24px;
}
.zero-padding .mat-dialog-container {
  padding: 0 0 0px;
}
.mat-fab .mat-icon-button .mat-button-wrapper {
  padding: unset;
}

mat-form-field {
  [matPrefix] {
    margin-right: 10px;
  }
}

.mat-tab-group.mat-blue {
  color: #3372AD;
}

.mat-icon.mat-blue {
  color: #3372AD;
}

.mat-button.mat-blue {
  color: #3372AD;
}
.mat-mini-fab.mat-blue {
  background-color: #3372AD;
  color: white;
}
.mat-raised-button.mat-blue {
  background-color: #3372AD;
  color: white;
}
.mat-spinner.mat-blue {
  color: #3372AD;
}
.mat-button.mat-orange {
  background-color: #FAA635;
  color: white;
}

.loading-full {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mat-progress-spinner.spinner circle, .mat-spinner.spinner circle {
  stroke: #3372AD;
  }


.mat-progress-spinner circle, .mat-spinner circle {
  color: #3372AD!important;
}

.mat-spinner.mat-blue {
  color: #3372AD;
}
.detail-page {
  .content {
    display: flex;
    .metadata {
      flex: 1;
    }
    .main {
      flex: 3;
      margin-right: 20px;
    }
  }
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


@media screen and (min-width: 1281px) {
  .side-panel {
    .detail-page .content {
      flex-direction: column;
      .main {
        margin: 0;
      }
    }
    .filter-wrap {
      flex-direction: column;
      .view-toggle {
        padding: 0;
        margin: 0 0 10px;
        justify-content: flex-end;
      }
    }
  }
  .zero-padding .mat-dialog-container {
    padding: 0 0 0px;
  }
}
@media screen and (min-width: 1281px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .side-panel {
    .detail-page .content {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 600px) {
  .detail-page .content {
    flex-direction: column;
    .main {
      margin: 0;
    }
  }
  .filter-wrap {
    flex-direction: column;
    .view-toggle {
      padding: 0;
      margin: 0 0 10px;
      justify-content: flex-end;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .filters {
    display: table !important;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
